@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
}


.play-btn .state1 {
    display: block;
}

.play-btn .state2 {
    display: none;
}

.play-btn.active {
    display:block;
}

.play-btn.active .state1 {
    display:none;
}

.play-btn.active .state2 {
    display: block;
}

.highlight {
    background-color: #282828;
}

.landing-head{
    color: #10B981;
    font-size: 750%;
    font-weight: 800;
    text-align: center;

}
.landing-text{
    color: white;
    text-align: center;
    font-weight: bold;

}


.hero {
    background-image: url("../images/hero-pattern.svg");
    background-size: 175%;
    background-position: 46% 4%;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 846px;
}
